@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather');


#about {
    
    /* background-color: #eece96; */
    /* border: 1px solid black;*/
    padding-top: 75px; 
}
#portfolio {
    /* border: 1px solid red;*/
    /* padding-top: 75px; */
    padding-top: 75px;
}
#tech {
    /* border: 1px solid green;*/
    padding-top: 75px;
}
#contact {
    /* border: 1px solid blue;*/
    padding-top: 75px;
}

#top {
    padding-top: 75px;
}


a {
    color: black;
}
a:hover {
    color: blue;
    text-decoration: none;
}


.bio {
    padding: 0 15px;
}

.blue {
    color: blue;
}

.bumpLeft {
    padding-left: 25px;
}
.bumpLeftMore {
    padding-left: 35px;
}
.bumpRight {
    padding-right: 25px;
}

.bumpRightDouble {
    padding-right: 50px;
}

.contactIcon {
    font-size: 2em;
}
/* .devicon-github-plain:hover {
    filter: invert(100%);
    color: black;
    invert doesn't work well, gotta switch classes on hover using jQuery
} */


/* .devicon-javascript-plain:hover {
    color: rgb(237, 219, 103);
} */

/* .fa-file:hover {
    color: rgb(62, 169, 62);
} */
/* .fa-envelope:hover {
    color: rgb(204, 80, 64);
} */

/* .fa-linkedin:hover {
    color: rgb(46, 114, 173);
} */

.footnoteText {
    font-size: .7em;
}

hr {
    width: 50%;
}

p {
    line-height: 1.8em;
}
.padBottom {
    padding-bottom: 35px;
}
.projectIcon {
    font-size: 1.5em;
}

.repoIcon {
    font-size: 2em
}
.serif, h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sansSerif, p {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

section {
    padding: 25px;
}
.serviceBox {
    max-width: 400px;
    margin: 35px auto 0;
}
.serviceBoxSmall {
    max-width: 75px;
    margin: 5px auto 0;
}

.techIcon {
    font-size: 3em;
}
.verticalOval {
    border-radius: 350px / 375px;
}

